html {
  font-size: 10px;
}

body {
  font-size: 1.6rem;
  font-family: 'Inter', sans-serif;
}

h1{
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 45px;
  line-height: 50px;
}
h2{
  font-family: 'Inika', serif;
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 52px;
}

