$color-primary: #499a18;
$color-base: #e06733;
$color-background: #edf2ec;
$color-shadow: #636060;
$color-inside: #717171;
$color-nav: #010201;
$color-border: #e3e1d5;
$color-light: #ffffff;
$color-grinch: #d6e7d2;
$colore-active: #c1e698;

$content-width: 1222px;
$tablet-width: 768px;
$mobile-width: 380px;
