html {
  font-size: 10px;
}

body {
  font-size: 1.6rem;
  font-family: 'Inter', sans-serif;
}

h1{
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 45px;
  line-height: 50px;
}
h2{
  font-family: 'Inika', serif;
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 52px;
}
.colored_text{
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 20px;
}
.disc{
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
}
h3{
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 50px;
}
.low{
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 48px;
}
.basics{
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 20px;
}
.standard{
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 20px;
}
.procare{
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 20px;
}
.header{
  font-family: 'Inika', serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 50px;
}
* {
  margin: 0;
}

