.about {
    background-color: $color-light;
    height: 666px;
    &__wrapper {
        height: 479px;
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        align-items: center;
        padding-top: 93px;
        padding-bottom: 94px;
        }
        &__section-content {
            width: 605px;
            height: 350px;
            align-self: start;
        }
        &__section-h2 {
            width: 463px;
            height: 102px;
            color: $color-base;
            span{
              color: $color-primary;
            }  
        }
        &__section-desc {
            color: $color-shadow;
            font-weight: 400;
            font-size: 20px;
            line-height: 30px;
            padding-top: 40px;
        }
}