.footer {
  background-color: $color-light;
  height: 130px;
  @include media-tablet {
    height: 181px;
  }
  @include media-mobile {
    height: 146px;
  }
  &__wrapper {
    height: 50px;
    flex-direction: row;
    padding-top: 40px;
    padding-bottom: 40px;
    @include media-tablet {
      height: 130px;
      padding-top: 33px;
      padding-bottom: 27px;
    }
    @include media-mobile {
      height: 117px;
      padding-top: 22px;
      padding-bottom: 16px;
    }
  }
  &__content {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    @include media-tablet {
      flex-direction: column;
    }
    @include media-mobile {
      flex-direction: column;
    }
  }
  &__data {
    width: 182px;
    height: 50px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    font-weight: 400;
    font-size: 20px;
    line-height: 50px;
    @include media-tablet {
      width: 173px;
      height: 40px;
      padding-left: 240px;
    }
    @include media-mobile {
      width: 173px;
      height: 40px;
      padding-left: 71px;
      padding-bottom: 10px;
    }
    a {
      text-decoration: none;
      color: black;
    }
  }
  &__text {
    font-weight: 400;
    font-size: 20px;
    line-height: 50px;
    color: black;
    flex-grow: 1;
    text-align: center;
    @include media-tablet {
      flex-grow: 0;
      margin-bottom: 10px;
    }
    @include media-mobile {
      line-height: 24px;
      flex-grow: 0;
      margin-bottom: 10px;
    }
  }
  &__items {
    width: 188px;
    display: flex;
    padding-inline-start: 0px;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    list-style: none;
    @include media-tablet {
      padding-left: 240px;
    }
    @include media-mobile {
      padding-left: 71px;
    }
  }
}
