.service {
    background-color: $color-background;
    height: 1300px;
    &__wrapper {
        // width: 1222px;
        // height: 1139px;
        display: flex;
        flex-direction: column;
        justify-content: stretch;
        padding-top: 40px;
        padding-bottom: 121px;
        }
        &__section-content{
            width: 1007px;
            height: 94px;
            margin-bottom: 90px;
            display: flex;
            justify-content: start;
            flex-direction: row;
            align-items: center;
        }
        &__section-h2 {
            width: 306px;
            height: 94px;
            color: $color-primary;
            padding-right: 142px;
        }
        &__section-buttons {
            width: 559px;
            height: 50px;
            display: flex;
            justify-content: space-between;
            flex-direction: row;
            align-items: center;
        }
        &__section-content2 {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            
        }
        &__section-block {
            width: 330px;
            height: 450px;
            padding-bottom: 55px;
        }
        &__section-text {
            width: 330px;
            height: 100px;
            border: 1px solid $color-border;
            border-top: none;
            border-radius: 0px 0px 20px 20px;
            text-align: center;
        }
        &__section-colored{
            height: 24px;
            font-weight: 700;
            font-size: 20px;
            line-height: 20px;   
            color: $color-base;   
            padding-top: 10px;
        }
        &__section-disc{
            color: $color-shadow;
            font-weight: 400;
            font-size: 20px;
            line-height: 30px;
        }
}