$color-primary: #499A18;
$color-base: #E06733;
$color-background: #EDF2EC;
$color-shadow: #636060;
$color-inside: #717171;
$color-nav: #010201;
$color-border: #E3E1D5;

$content-width: 1222px;
$tablet-width: 768px;
$mobile-width: 380px;

